/* 外部ライブラリのスタイルをインポート */
@import "./bootstrap.min.css";
@import "./fontawesome-css/fontawesome-all.css";

/***************************************************/
/* 全ページスタイル                                 */
/***************************************************/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100svh;
}

/***************************************************/
/* 共通ヘッダー（システム名、ユーザ名、設定アイコン） */
/*  設定アイコン->メニュー                          */
/***************************************************/

/* ヘッダースタイル */
.jumbotron {
  background-color: #007BFF;
  padding: 1em 0.5em;
  text-align: left;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 4; /* 他の要素よりも手前に表示 */
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-size: 1em;
  color: #fff;
  display: inline;
  text-align: left;
  margin-right: auto; /* 左側に余白を設定してアイコンを右寄せに */
  margin-top: 10px;
}

/* ユーザーラベルのスタイル */
#user-label {
  margin-right: 10px; /* アイコンとの間隔を調整 */
  color: #fff;
  align-items: center;
}

/* 設定ボタンのスタイル */
.config-button {
  background-color: white;
  color: black;
  padding: 3px 10px;
  display: none;
  align-items: center; /* アイコンを垂直方向に中央に配置 */
  justify-content: flex-end; /* アイコンを右詰めに配置 */
}

/* 設定ボタンアイコンのスタイル */
.config-button i {
  background: white; /* アイコンの背景色を白に設定 */
}

/* セットアップメニューのスタイル */
#setupMenu {
  position: relative;
  display: inline-block;
  height: 30px; /* 親要素の高さを設定 */
}

/* セットアップリストのスタイル */
#setupList {
  /* display: none; */
  position: absolute;
  top: 100%; /* ドロップダウンリストの下に配置 */
  right: 0; /* ドロップダウンリストの右上に配置 */
  border: 1px solid #000;
  width: 140px;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #fff;
  z-index: 5; /* ドロップダウンリストをメニューアイコンより前面に配置 */
}

/* ドロップダウンリスト項目のスタイル */
#setupList li {
  text-align: left;
  padding: 2px;
  background-color: #eee;
  transition: background-color 0.3s;
}

#setupList li:hover {
  background-color: #ccc;
}

/***************************************************/
/* ログインスタイル                                 */
/***************************************************/

/* ログインコンテナのスタイル */
.login-container {
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin-top: 3em;
}

/* ログインタイトルのスタイル */
.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* ログインボタンのスタイル */
.login-button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-button:focus {
  outline: none;
}

.login-button:active {
  transform: translateY(2px);
}


/***************************************************/
/* ログイン以外のページのスタイル                    */
/***************************************************/
.call-log-viewer-container {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
  padding: 0px 15px 40px 15px;
  text-align: left;
}
.call-log-viewer-container h2{
  padding: 40px 0px;
}

/***************************************************/
/* パスワード強度スタイル                            */
/***************************************************/
/* プログレスバーのスタイル */
.progress-bar {
  width: 0;
}

.progress {
  margin-left: auto;
  margin-right: 0;
}

/* パスワード強度ラベルのスタイル */
.password-strength-label {
  text-align: right; /* 右寄せ */
}

/***************************************************/
/* フォーム入力スタイル                             */
/***************************************************/
/* フォームグループのスタイル */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
}

form-group input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* 文字入力フィールドのスタイル */
.string-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none; /* 影を削除 */
  box-shadow: none;
}

.string-input::placeholder {
  color: #aaa;
}

/* フォーム下のボタンコンテナのスタイル */
.button-container {
  display: flex;
  justify-content: center; /* 中央に配置する */
  margin-top: 1em; /* ボタン間の上部のマージン */
  margin-bottom: 1em; /* ボタン間の下部のマージン */
}

.button-container button {
  margin: 0 2em; /* ボタン間の横方向のマージンを調整 */
}

/* 小さなボタンのスタイル */
.btn-small {
  width: 100px;
  height: 40px;
  font-size: 14px;
}

.btn-small.btn-primary {
  background-color: #007BFF;
}

.btn-small.btn-secondary {
  background-color: #ccc;
}

/* エラーメッセージのスタイル */
.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

/* メニュー画面 */
.menu-side{
  background-color: #cfd0cf;
}
.menu-side button, label{
  margin-bottom: 20px;
}
.menu-side label{
  margin-top: 40px;
}

/* コンテイナー */
.inner-container{
  position: relative;
  display: flex;
  align-items: center;
}

.table thead th{
  background-color: #ececec;
}

.table tbody tr:last-child{
  border-bottom: 1px solid #dee2e6;
}

.table td {
  border: 1px solid #dee2e6;
}
